<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(refLocalForm)" #refLocalForm="ngForm" ngNativeValidate>
        <div class= "form-group">
            <label for="myContentngForm">Digite uma mensagem:</label>
            <input type="text"
                    id="myContentngForm"
                    class="form-control"
                    [ngModel]="messageLoad?.content"
                    name="myContentngForm"
                    required
                    placeholder="Digite aqui...">
        </div>
        <button type="submit" class="btn btn-primary">Enviar mensagem</button>
        <button type="button" class="btn btn-danger" (click)="onClear(refLocalForm)">Cancelar mensagem</button>
    </form>
</div>